body {
  border: solid 1px red;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: minmax(300px, 1fr) 3fr 2fr;
}

#header {
  background-color: rgb(161, 161, 161);
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}

#sidebar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  background-color: blue;
  display: flex;
  flex-flow: column;
}

#projectList {
  display: flex;
  flex-flow: column;
  width: 150px;
  align-items: end;
}

#addProject {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 2vh;
  margin-left: 2vh;
}

#addProjectPopup {
  position: absolute;
  background-color: rgb(222, 255, 103);
  width: max(14%, 250px);
  height: 20%;
  align-self: center;
  margin-top: auto;
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  bottom: 8vh;
  border-radius: 5px;
  gap: 2vh;
}

.titleList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toDoList {
  margin: 30px;
  display: flex;
  flex-flow: column;
  gap: 5px;
}

#list {
  list-style: none;
}

#list > div {
  display: grid;
  grid-template-columns: 1fr 10fr 3fr 3fr 1fr;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

#list > div li {
  margin-right: auto;
  margin-left: 10px;
}

#addList {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#details {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  background-color: red;
  margin: 30px;
  margin-left: 0;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  padding: 20px;
  gap: 10px;
}

.low {
  width: 100px;
  height: 20px;
  background-color: rgb(123, 255, 0);
  text-align: center;
  border-radius: 5px;
}

.low::before {
  content: "low";
  text-align: center;
  width: 100px;
  height: 100px;
}

.medium {
  width: 100px;
  height: 20px;
  background-color: rgb(248, 224, 7);
  text-align: center;
  border-radius: 5px;
}

.medium::before {
  background-color: rgb(248, 224, 7);
  content: "medium";
}

.high {
  width: 100px;
  height: 20px;
  background-color: rgb(248, 7, 7);
  text-align: center;
  border-radius: 5px;
}

.high::before {
  content: "high";
}
