.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  --sidebar-color: #003c5f;
  --sidebar-color-light: #015485;
  --light-grey: #f1f1f1;
  --box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 3fr 5fr;
  grid-template-columns: minmax(300px, 1fr) 3fr 2fr;
  font-family: "Roboto", sans-serif;
}

#header {
  background-color: var(--light-grey);
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}

.searchIcon {
  height: 25px;
  width: 25px;
  margin-left: auto;
  margin-right: 10px;
}

#listSearch {
  width: 25vw;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

#sidebar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-color: var(--sidebar-color);
  display: flex;
  flex-flow: column;
}

#sidebar h1,
#sidebar h2 {
  padding-left: 30px;
  color: white;
  font-weight: 400;
}

#projectList {
  display: flex;
  flex-flow: column;
}

#projectList > div {
  display: flex;
  margin-left: -40px;
  align-items: center;
}

.projectDelete {
  content: url(../resources/whiteclose.svg);
  height: 20px;
  padding-right: 20px;
}

#projectList button {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  height: 40px;
  text-align: start;
  padding-left: 30px;
}

#projectList > div:hover {
  background-color: var(--sidebar-color-light);
}

.select {
  background-color: var(--sidebar-color-light);
}

#addProject {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 2vh;
  margin-left: 2vh;
}

#addProjectPopup {
  position: absolute;
  background-color: var(--light-grey);
  width: 230px;
  height: 100px;
  align-self: center;
  display: none;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  bottom: 8vh;
  border-radius: 5px;
  padding: 15px;
  font-weight: 500;
  box-shadow: var(--box-shadow);
}

#addProjectPopup > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#addProjectPopup > button {
  align-self: end;
  width: 20%;
  height: 25px;
  color: white;
  background-color: var(--sidebar-color);
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
}

#addProjectPopup > button:hover {
  background-color: var(--sidebar-color-light);
}

#addProjectPopup > input {
  width: 90%;
  height: 25%;
  border-radius: 10px;
  padding-left: 10px;
}

#projectTitle {
  font-weight: 500;
}

.titleList {
  display: grid;
  grid-template-columns: 1fr 10fr 3fr 3fr 2fr;
  align-items: center;
  justify-items: start;
  background-color: var(--light-grey);
  border-radius: 10px;
  font-weight: 500;
  height: 40px;
}

.titleList > img {
  height: 30px;
  justify-self: center;
}

#addList {
  height: 35px;
  justify-self: end;
  padding-right: 15px;
}

.titleList > button {
  border: none;
}

#toDoList {
  margin: 30px;
  display: flex;
  flex-flow: column;
  gap: 5px;
  grid-row: 2 / 4;
}

#list {
  list-style: none;
}

#list > div {
  display: grid;
  grid-template-columns: 1fr 10fr 3fr 3fr 1fr 1fr;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
  justify-items: start;
  border: solid 1px var(--light-grey);
  height: 35px;
  border-radius: 10px;
}

#list > div:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

#list > div > input[type="checkbox"] {
  justify-self: center;
}

.date {
  justify-self: center;
}

.low {
  width: 80px;
  height: 20px;
  background-color: rgb(98, 255, 93);
  text-align: center;
  border-radius: 5px;
  justify-self: center;
}

.low::before {
  content: "low";
  color: white;
}

.medium {
  width: 80px;
  height: 20px;
  background-color: rgba(255, 235, 51, 0.877);
  text-align: center;
  border-radius: 5px;
  justify-self: center;
}

.medium::before {
  content: "medium";
  color: white;
}

.high {
  width: 80px;
  height: 20px;
  background-color: rgb(255, 57, 57);
  text-align: center;
  border-radius: 5px;
  justify-self: center;
}

.high::before {
  content: "high";
  color: white;
}

#editList {
  background-color: var(--light-grey);
  display: none;
  flex-flow: column;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding: 20px;
  gap: 5px;
  margin: 10px;
  border-radius: 5px;
  margin-bottom: 0px;
  font-weight: 500;
  box-shadow: var(--box-shadow);
}

.editUpper {
  display: flex;
  justify-content: space-between;
}

#editLower {
  display: flex;
  justify-content: space-between;
  text-align: end;
  align-items: center;
}

#editList > button,
#details > button {
  width: 20%;
  height: 30px;
  align-self: flex-end;
  color: white;
  background-color: var(--sidebar-color);
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
}

#editList > button:hover,
#details > button:hover {
  background-color: var(--sidebar-color-light);
}

#details {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  background-color: var(--light-grey);
  margin: 10px;
  border-radius: 5px;
  display: none;
  flex-flow: column;
  padding: 20px;
  gap: 5px;
  font-weight: 500;
  box-shadow: var(--box-shadow);
}

.detailsUpper {
  display: flex;
  justify-content: space-between;
}

#detailsLower {
  display: flex;
  justify-content: space-between;
  text-align: end;
  align-items: center;
}

.edit {
  height: 25px;
  content: url(../resources/edit.svg);
}

.delete {
  height: 25px;
  content: url(../resources/close.svg);
}

#editList input,
#details input,
#projectInput {
  border-radius: 10px;
  height: 25px;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 5px;
  font-size: 0.9em;
  font-weight: 300;
}

#editList textarea,
#details textarea {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 300;
}

select {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 1em;
  padding: 5px;
  font-weight: 300;
}

#popupClose,
#closeEdit,
#closeDetails {
  border: none;
  height: 25px;
  width: 25px;
  color: white;
  background-color: var(--sidebar-color);
  border-radius: 5px;
}

#popupClose:hover,
#closeEdit:hover,
#closeDetails:hover {
  background-color: var(--sidebar-color-light);
}
